/* Inicio de CSS para Proyecto Videojuegos Mugen */
/* Programación Web */
/* Miercoles 06 de Noviembre de 2021 */

*{
    margin:auto;
    padding: 0;
    font-family: arial;
}

body{
    margin:0px;
    padding: 0px;
    background-color: #fff;
}
/*Cabecera del Documento */
header
    {
    background-image: linear-gradient(to bottom, #051937, #1a3762, #2e5891, #417cc3, #52a2f7);
    text-align: center;
    text-decoration: bold;
    font-size: 18px;
    color:#ffffff;
    height: 90px;
    padding-top: 20px;
    padding-bottom: 20px;

    }

@font-face{
	font-family:Tarrget3D ;
	src:url(../fonts/Tarrget3D.otf) ;
    }

header h1
    {
    text-align: center;
    color: #ffffff;
    padding: 0.5em;
    font-size: 3.2em;
    font-family: Tarrget3D;
    }

#img{
    margin: 0 auto 0 auto;
    width: 260px;
    height: 260px;
    float: left;
    position: relative;
    top: -250px;
    left: -5px;
    }

#imgusuario{
    margin: 0 auto 0 auto;
    height: 40px;
    float: right;
    position: relative;
    top: -48px;
    right: 40px;
    }

/*Nav*/
nav
    {
    background: rgb(242,53,155);
    background: linear-gradient(90deg, rgba(242,53,155,0.8911939775910365) 1%, 
    rgba(127,41,224,0.7791491596638656) 50%, rgba(246,43,163,0.938813025210084) 99%);
    min-height: 2.2em;
    text-align: center;
    padding-top: 0px;
    box-sizing: border-box;
    }

nav a{ /*control de letras del menú*/
    text-decoration:none;
    font-size:17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    color:#fff;
    }
          
nav li{ 
    /*Control de cuadros del menú*/
    display:inline-block;
    width: 7.5em;
    height: 2.0em;
    padding:5px 10px;
    padding-top: 20px;
    text-align:center;
    color:#fff; /*letra del cuadro*/
    position:relative;
    nav-left: 10px;
    z-index: 1000; 
}
          
nav li:hover{ 
    /* Al pasar el cursor cambia de color*/
    background-color:rgb(255, 130, 255);
    border-radius: 6px;
    }
          
nav li>ul{
    display:none;
    }

nav li:hover>ul{ 
    display:block;
    position:absolute;
    top:56px;
    left:0px;
    background-image: radial-gradient(circle at 50% -20.71%, #fe8f62 0,
    #ff8564 8.33%, #ff7967 16.67%, #ff6c6b 25%, #fd5e6e 33.33%, 
    #f84e73 41.67%, #f23c78 50%, #ea287e 58.33%, #e10e86 66.67%, #d6008f 
    75%, #ca0098 83.33%, #bb00a3 91.67%, #aa00ae 100%);
    opacity: .9;
}

/*Sector principal*/
section
    {
    width: 70%;
    background-image: radial-gradient(circle at 37.72% 119.64%, #a4d8ec 0,
    #a7d7ef 6.25%, #abd6f1 12.5%, #b0d5f3 18.75%, #b5d3f4 25%, #bbd2f4 
    31.25%, #c1d0f4 37.5%, #c7cff3 43.75%, #cdcdf2 50%, #d3cbf0 56.25%, 
    #d9caed 62.5%, #dec8ea 68.75%, #e3c7e7 75%, #e8c6e3 81.25%, #ecc5df 87.5%,
    #efc4da 93.75%, #f2c4d6 100%);
    float: right;
    margin-right: -40px;
    margin-top: 0px;
    height: 628px;
    }

@font-face {
    font-family: Alfa Slab One;
    src: url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
}
    
section h2
    {
    text-align: center;
    padding: 0.6em;
    color:#fcfcfc;
    margin-bottom: 10px;
    font-size: 2.5em;
    font-family: Alfa Slab One;
    text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F,
	0 0 0.2em #87F;
    }         

article
    {
    margin: 0.3em 0.3em;
    padding: 0.8em 0.3em;
    border: rgb(248, 56, 239) 4px outset;
    }

article p 
    {
    text-align: center;
    font-size: 1.1em;
    margin: 0 50px auto 50px;
    }

iframe{
    margin-top: 30px;
    border-radius: 10px;
}

aside{
    background-color: #80808065;
    width: 30%;
    height: 628px;
    float: left;
    margin-top: 0px;
    margin-left: -260px;
    }

#anuncio
    {
    height: 531px;
    margin: 20px;
    padding: 38px;
    background-image: radial-gradient(circle at 50% -20.71%, #bae0e6 0,
    #bbe0e9 6.25%, #bcdfeb 12.5%, #bedfed 18.75%, #c0deef 25%, 
    #c3ddf0 31.25%, #c6dcf1 37.5%, #c9dbf2 43.75%, #cddaf2 50%, 
    #d1d9f2 56.25%, #d5d8f1 62.5%, #d9d7f0 68.75%, #ddd6ee 75%, 
    #e1d5ed 81.25%, #e4d4ea 87.5%, #e8d3e8 93.75%, #ebd2e5 100%);
    border-radius: 10px;
    }

#anuncio p
    {
    text-align: justify;    
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: -10px;
    }

#anuncio .info{
    text-align: justify; 
    margin-bottom: 25px;
    margin-top: 15px;
}

.imglocalizacion{
    width: 15px;
}

footer
    {
    clear:both;
    background-color: #090981;
    opacity: .8;
    }

footer
    {
    text-align: center;
    font-size: 0.8em;
    color: #000000;
    padding: 30px;
    
    }

#textofooter{
    font-size: 15px;
    color: #fff;

}

#map {
	height: 470px;
	width: 95%;
    position:initial;
    margin-left: 20px;
    margin-top: -10px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 7px 10px 35px #000000;
}



